.bar {
    margin: auto;
    width: 100%;
}
.search_bar_ctn {
    width: 600px;
    height: 40px;

    margin: auto;

    justify-content: center;
}
.manual_search {
    display: flex;
    justify-content: space-between;
}
.fn_ctn {
    margin-top: 7px;
}
