.about_us_ctn {
    padding-top: 10%;
    animation: fadeIn 0.5s ease-in;}  @keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}
}
.about_us {
    width: 70%;
    height: 250px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    
    display: flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: solid 2px black;
    background: #f3e8ac;
}
.creator_ctn {
    width: 100%;
}
.image_creator {
    width: 90%;
    border-radius: 12px;
}
.name_ctn {
    text-align: center;
    padding-bottom: 10px;
}
.icons_link_ctn {
    width: 50%;
    margin-top: 5%;
    margin-left: 32%;
    margin-right: 32%;
    display: flex;
    justify-content: space-between
}
.icons_link {
    width: 20%;
}
.text_ctn {
}
/*---------------------------------------------------*/
.tech_ctn {
    width: 70%;
    height: 250px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    
    display: flex;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #f3e8ac;
}
.tech_tittle {
    text-align: center;
    padding-bottom: 40px;
}
.icons_tech_ctn {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.icons_tech {
    width: 6%;
}
.icons_t {
    width: 100%;
}